@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SK Pupok";
  src: url("../public/assets/fonts/SKPupok-Trial.woff2") format("woff2"),
    url("../public/assets/fonts/SKPupok-Trial.woff") format("woff"),
    url("../public/assets/fonts/SKPupok-Trial.ttf") format("ttf");
}

body {
  @apply bg-violet-500;
}

* {
  scroll-behavior: smooth;
}
